.summary-section{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
	padding-bottom: 2.500em;
}

.price-summary-section{
	align-items: flex-start;
	margin-top: 3.125em;
}

.info-section{
	display: flex;
  justify-content: space-between;
	min-width: 15.625em;
}

.vehicle-summary-section{
  display: flex;
	justify-content: space-between;
	flex-direction: column;
  padding: 0.625em;
	box-shadow: 0.063em 0.063em 0.063em 0.063em #888888;
	margin-top: 3.125em;
	min-width: 18.750em;
}

.basic-details-section{
  background-color: #FFFFFF;
  padding: 3.125em;
  display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
}
