.cars-list-container {
	padding-left: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2em;
}

.cars-list{
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	padding: 1em;
}

.car {
	padding: 0.725em;
	background-color: #F8F8FF;
	border-radius: 0.225em;
	margin-top: 0.938em;
	margin-bottom: 0.938em;
	font-size: 0.938em;
	min-width: 13em;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  padding: 0.750em 1.750em;
  font-size: 0.875em;
  margin: 0.250em 0.125em;
	cursor: pointer;
	border-radius: 0.125em;
	width: 100%;
}
